.wrapper {
    display: flex;
    justify-content: center;
    align-content: space-between;
    flex-direction: row-reverse;
    width: 100vh;
    height: 10vh;
}

.child {
    flex-basis: 10%;
    background: peru;
    color: white;
    font-size: 60px;
    text-align: center;
    justify-items: center;
}

.child:nth-child(2) {
    background: black;
    flex-grow: 1;
}

.child:nth-child(3) {
    background: blue;
    flex-grow: 5;
}