.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: stretch;
    height: 500vh;
}

.box {
    height: 200px;
    background: peru;
    color: white;
}